

@font-face {
    font-family: 'atariClassic';
    src: url(../fonts/AtariClassicChunky.ttf);
    font-style: normal;
    font-weight: 100;
    }

@font-face {
    font-family: 'atariClassicSmooth';
    src: url(../fonts/AtariClassicExtrasmooth.ttf);
    font-style: normal;
    font-weight: 100;
}    

  /* colors */
    :root {
    --primary: rgb(41, 32, 40);
    --secondary: rgb(22, 21, 18);
    --tertiary: rgb(241, 239, 235);
    --dark: rgb(38, 51, 43);
    --light: rgb(240, 234, 224);
}

body {
    margin: 0;
    padding: 0;
    color: var(--primary);
    background-color: var(--light);
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p   {
    margin: 0;
    }

header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--tertiary);
}

header h1 {
color: var(--tertiary);
padding: 5px 1% 5px 6%;
margin: 0;
font-family: 'atariClassic';
color:rgb(22, 21, 18);
font-weight: 100;
font-size: 4vw;
line-height: 1;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'atariClassicSmooth';
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--secondary);
    margin-right: 10px;
    background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--light);
}

nav a:last-child {
    margin-right: 0;
}

main {
    margin-top: 20px;
    margin-bottom: 45px;
}

.hero-banner {
    background: rgb(68, 88, 120);
    background-image: url("../images/legos.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    min-height: 30vh;
    color: var(--light);
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.hero-banner div {
    flex: 0 0 90%;
}

.hero-banner h2 {
    background-color: var(--secondary);
    color: var(--tertiary);
    margin: 0;
    padding: 5px 10px;
    font-family: 'atariClassic';
    font-size: 2.3rem;
    line-height: 1.2;
    display: inline;
}

.page-wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--primary);
    font-family: 'atariClassic';
    font-size: 2vw;
    line-height: 1.1;
}

.page-section > div {
    flex: 0 0 77%;
}

.page-section p {
    margin-bottom: 20px;
    font-family: 'atariClassicSmooth';
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    border: 5px solid var(--secondary);
    background-color: var(--primary);
    color: var(--tertiary);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
}

  /* feature first item */
.flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.flex-item:hover {
    background-color: rgba(93, 184, 138, 0.3);
}

.flex-item div {
    background-color: var(--secondary);
    padding: 8px 10px;
}

.flex-item h3 {
    font-family: "atariclassic";
    font-size: 1.6rem;
}

.contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-family: "atariClassic";
}

.contact address a {
    color: var(--dark);
    padding: 5px;
    text-decoration: none;
    font-size: 1.3rem;
    font-style: normal;
    background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    margin: 0 0.2rem 0.1rem;
    display: inline-block;
}

.contact address a:hover {
    background-size: 100% 88%;
    color: var(--light);
}

  /* portfolio project images 
.run-buddy {
    background-image: url("../images/02-run-buddy.jpg");
}

.led-wall {
    background-image: url("../images/02-portfolio-1.jpg");
}

.react-calc {
    background-image: url("../images/02-portfolio-2.jpg");
}

.pastel-puzzles {
    background-image: url("../images/02-portfolio-3.jpg");
}

.surf-report {
    background-image: url("../images/02-portfolio-4.jpg");
}

   end portfolio project images */

@media screen and (max-width: 980px) {
    header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
    }

    header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10vw;
    }

    header nav {
    justify-content: center;
    }

    .page-section > h2,
    .page-section > div {
    flex: 0 0 100%;
    }

    .page-section > h2 {
    border-right: none;
    border-bottom: 4px solid var(--primary);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
    }
}

@media screen and (max-width: 768px) {
    .flex-item,
    .flex-item:first-child {
    flex-basis: 100%;
    }

    .flex-item:first-child {
    min-height: 150px;
    }

    .hero-banner {
    justify-content: center;
    text-align: center;
    }
}
